.header-container {
    display: flex;
    margin-top: 3rem;
    border-bottom: 1px solid black;
    
}

.profile-content {
    display: flex;
    margin-top: 2rem;
}

.image {
    border-radius: 50px;
    margin-right: 4rem;
}

.info {
    margin-left: 2rem;
    .stories-info {
        margin-top: 1rem;
    }
}

.header {
    color: black;
}