.header-container {
    display: flex;
    align-items: center;
    margin-top: 3rem;
    justify-content: space-evenly;
    border-bottom: 1px solid black;

    i {
        font-size: 2rem;
    }
    
}

.stories-container {
    margin-top: 2rem;

    

    .story-list {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        column-gap: 2rem;
        row-gap: 2rem;

        &.u-hide {
            display: none;
        }
        .story {
            margin-top: 1rem;
            margin-bottom: 1rem;
            min-height: 10rem;
            width: auto;
            // opacity: 0.5;
            // transition: width 1s;
            // transition: height 1s;
            &.active {
                background-color: black;
                opacity: 1;
                div {
                    color: white;
                }
            }
        }
        .story :hover {
            background-color: black;
            opacity: 1;
            
            transform: scaleY(1.2);
            transform: scaleX(1.1);
            transform-origin: bottom;
            div {
                color: white;
                transform: scaleY(1);
                transform: scaleX(1);
            }
        }
        // s
    }

    .story-detail-container {
        margin-bottom: 3rem;
        .header-container {
            display: flex;
            justify-content: space-between;
            border: 0;
            .close:hover {
                font-size: 2.5rem;
            }
        }
    }
}
